/* YLEISET TYYLIT */
@import url('http://fonts.googleapis.com/css?family=Roboto:400,500,300,700,300italic,400italic,500italic,700italic');
@import url('http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700');

html, body {
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 42px;
	font-weight: 400;
	color: #ffffff;
}

h2, h3, h4, h5, h6, p, a, pre, li, td, th, label {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}
input {
	font-family: 'Roboto', sans-serif;
	color: #000000;
}
.full-width {
	width: 90%;
	padding: 0 5%;
	display: block;
	position: relative;
}

.grey, .grey a, .grey a:visited{
	color: #7D7D7D;
	text-decoration:none;
}

.blue, .blue a{
	color: #00B0CA;
	text-decoration:none;
}

.green, .green a {
	color: #91BA1D;
		text-decoration:none;
}

.orange, .orange a{
	color: #FE5000;
		text-decoration:none;
}

.content {
	max-width: 1024px;
	margin: 0 auto;
}

.content-block {
	width: 100%;
	display: block;
	position: relative;
}

/* Header */
header {
	background-color: #ffffff;
	min-height: 65px;
}

.logo {
	display: block;
	position: relative;
	width: 10%;
	float: left;

	font-size: 28px;
	font-weight: 700;
	padding: 12px 0 10px 0;
}
.alalogo {
	font-size: 28px;
	font-weight: 700;
}
.main-nav {
	display: block;
	position: relative;
	width: auto;
	float: right;
	padding: 5px 0;
}

.main-nav ul li {
	display: inline-block;
}

.main-nav ul li a {
	font-size: 18px;
	font-weight: 500;
	color: #444444;
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px 10px 5px 10px;
}

/* Intro */
.intro {
	text-align: center;
}

.intro p {
	font-size: 20px;
	font-weight: 300;
	line-height: 25px;
}

/* Portaalin blokit */
.content-block.portals {
   font-size: 0;
}

.portals {
	display: block;
	position: relative;
	margin: 20px 0 10px 0;
}

.ylakeskialue {
	position: relative;
   margin: 20px 0 0 0;
   color: #ffffff;
}


.portal-block {
	display: inline-block;
   font-size: 16px;
	position: relative;
	width: 32%;
	max-width: 325px;
   vertical-align: top;
}

.portal-block:nth-child(3n+2) {
   margin: 0 2%;
}

.portal-block .title-part, .portal-block .customtitle-part {
	text-align: center;
	width: 95%;
	padding: 10px 2.5%;
   margin-bottom: 5px;
	min-height: 55px;
	border-radius: 3px;
	line-height: 50px;
	vertical-align: middle;
	z-index: 10;
}

.portal-block .title-part .portal-more-content p,.portal-block .customtitle-part .portal-more-content p {
	font-size: 20px;
	font-weight: 500;
	text-align: left;
	padding: 3px 10px;
	color:#262626;
}

.portal-block .title-part .portal-more-content p.odd, .portal-block .customtitle-part .portal-more-content p.odd {
	color:#ffffff;
}

.portal-block .text-part {
	text-align: left;
	width: 90%;
	background-color: #ffffff;
	border-radius: 3px;
	margin: 0px 0 10px 0;
	padding: 15px 5%;
	z-index: 5;
}

.portal-block .title-part img, .portal-block .customtitle-part img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

.portal-block .text-part h2, .componentheading {
	font-size: 22px;
	line-height: 1em;
	font-weight: 500;
	margin: 0 0 15px 0;
   min-height: 2em;
}

.portal-block .text-part p, .moduletable td {
	font-size: 20px;
	line-height: 25px;
	font-weight: 300;
	color: #262626;
	margin: 0 0 10px 0;
}

.portal-block .text-part input[type=button] {
	width: 100%;
	text-align: center;
	border: none;
	border-radius: 3px;
	background-color: #444444;
	margin: 10px 0 0 0;
	padding: 15px;
	font-weight: 700;
	color: #ffffff;
}

.portal-block .text-part input[type=button]:hover {
	background-color: rgba(51,51,51,0.75);
}

/* Kalenteri osio */
.calendar {
	display: block;
	position: relative;
	margin: 20px 0 20px 0;
}

.calendar-block {
	display: block;
	position: relative;
	width: 32%;
	margin: 0 1.9% 0 0;
	float: left;
}

.month-block {
	display: block;
	position: relative;
	width: 61.8%;
	background-color: #ffffff;
	border-radius: 3px;
	float: left;
	padding: 5px 2% 15px 2%;
}

.month-title-row {
	width: 100%;
	display: block;
	position: relative;
	margin: 0 0 5px 0;
	float: left;
}

.cal-table-row {
	width: 100%;
	display: block;
	position: relative;
	float: left;
}

.cal-day-number, .curr-month, .prev-month, .next-month{
	vertical-align: middle;
}

.cal-month-row {
	margin: 0 0 15px 0;
}

.cal-month-row .cal-month-prev p {
	text-align: left;
	width: 10%;
	font-size: 30px;
	color: #777777;
	margin: 3px 0 0 0;
	position: relative;
	float: left;
	font-family: tahoma, helvetica, sans-serif
}

.cal-month-row .cal-month-name p {
	text-align: center;
	width: 80%;
	font-size: 28px;
	color: #777777;
	margin: 0;
	padding: 5px 0;
	position: relative;
	float: left;
	font-weight: 300;
}

.cal-month-row .cal-month-next p {
	text-align: right;
	width: 10%;
	font-size: 30px;
	color: #777777;
	margin: 3px 0 0 0;
	position: relative;
	float: left;
	font-family: arial, helvetica, sans-serif
}


.cal-table-row th, .cal-table-row td {
	width: 4.5%;
	height: 4.5%;
}

.cal-table-row th span, .cal-table-row td a  {
	text-align: center;
	font-size: 20px;
	font-weight: 300;
	color: #777777;
	text-decoration: none;
}
.prev-month span, .prev-month a, .next-month span, .next-month a {
	width: 100%;
	height: 100%;
	display: block;
	line-height: 39px;
}

.netbaron-style .curr-month span, .netbaron-style .curr-month a {
	width: 100%;
	height: 100%;
	display: block;
	line-height: 39px;
	border: solid 1px #BB3D00;
}
.ole-style .curr-month span, .ole-style .curr-month a {
	width: 100%;
	height: 100%;
	display: block;
	line-height: 39px;
	border: solid 1px #007E91;
}
.mcf-style .curr-month span, .mcf-style .curr-month a {
	width: 100%;
	height: 100%;
	display: block;
	line-height: 39px;
	border: solid 1px #638211;
}
.curr-month span, .curr-month a {
	width: 100%;
	height: 100%;
	display: block;
	line-height: 39px;
	border: solid 1px #777777;
}

.prev-month ahover, .curr-month a:hover {
	color: #ffffff;
}

.prev-month.curr-day a, .curr-month.curr-day a {
	background-color: #ffffff;
	border-color: #ffffff;
}

.prev-month.curr-day a:hover, .curr-month.curr-day a:hover {
	color: #777777;
}

.prev-month.curr-day a, .curr-month.curr-day a, .curr-month.has-events a {
	border-color: #ffffff;
}

.month-title-row .month-prev p {
	text-align: left;
	width: 10%;
	font-size: 40px;
	color: #444444;
	margin: 5px 0 0 0;
	position: relative;
	float: left;
	font-family: tahoma, helvetica, sans-serif
}

.month-title-row .month-name p {
	text-align: center;
	width: 80%;
	font-size: 28px;
	color: #444444;
	margin: 0;
	padding: 15px 0;
	position: relative;
	float: left;
	font-weight: 300;
}

.month-title-row .month-next p {
	text-align: right;
	width: 10%;
	font-size: 40px;
	color: #444444;
	margin: 5px 0 0 0;
	position: relative;
	float: left;
	font-family: arial, helvetica, sans-serif
}

.month-events-row {
	width: 100%;
	display: block;
	position: relative;
	float: left;
	border-top: 1px dotted #dddddd;
	padding: 15px 0 0 0;
}

.month-events-row p {
	margin: 7px 0;
	font-size: 20px;
	font-weight: 500;
}

/* Perusivun sisältö */
.info-style .page-content, .rsform, .div.info-style {
	width: 89.4%;
	background-color: #ffffff;
	border-radius: 3px;
	margin: 20px 0 10px 0;
	padding: 0 5%;
}

.page-content, .rsform {
padding-top: 10px;
}

.page-content h2, .page-content h1 {
	font-size: 42px;
	font-weight: 400;
	color: #262626;
/*	font-family: 'Roboto Slab', serif;*/
}

.page-content h3 {
	font-size: 18px;
	font-weight: 400;
	color: #007E91;
	margin: 15px 0 5px 0;
	font-family: 'Roboto Slab', serif;
}

.page-content h4 {
	font-size: 16px;
	font-weight: 500;
	color: #262626;
	margin: 15px 0 5px 0;
}

.page-content p {
	font-size: 16px;
	font-weight: 300;
	color: #262626;
	margin: 0 0 5px 0;
}

.page-content a, .moduletable a {
	color: #00B0CA;
	text-decoration: none;
}

.page-content a:hover, .moduletable a:hover {
	text-decoration: underline;
}

.page-content ul {
	padding: 0 0 0 17px;
}

.page-content ul li {
	font-size: 16px;
	font-weight: 300;
	color: #262626;
}

.page-content .column {
	width: 47%;
	display: block;
	position: relative;
	float: left;
	margin: 0 0 25px 0;
}

.page-content .left-column {
	margin: 0 6% 0 0;
}

.page-content form {
	margin-top: 15px;
		color: #000000;
}

.page-content form label{
	width: 100%;
}

.page-content form input, .page-content form select {
	/* width: 97%; */
	padding: 3px 1.5%;
	color: #00B0CA;
	font-weight: 300;
	border: 1px solid #dddddd;
}

.page-content form select {
	font-size: 12px;
	height: 29px;
	color: #999999;
	line-height: 29px;
	margin-bottom: 15px;
}

.page-content form label.side-opt, .page-content form input.side-opt, .page-content form select.side-opt {
	display: inline;
	width: auto;
}

.page-content form .side-opt-1 {
	max-width: 10%;
	min-width: 40px;
	margin-right: 2%;
}

.page-content form .side-opt-2 {
	max-width: 83%;
}

.page-content form input.side-opt {
	margin-bottom: 15px;
}

.page-content form label {
	display: block;
	margin: 10px 0 4px 0;
	font-size: 14px;
	font-weight: 500;
	color: #262626;
}

.page-content form input[type=button], .page-content form input[type=submit], .rsform form input[type=submit], .contact-form form button[type=submit], .logout form button[type=submit], .login form button[type=submit] {
	width: auto;
	background-color: #00B0CA;
	border: none;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	color: #ffffff;
	padding: 7px 20px;
	border-radius: 3px;
	margin-bottom: 10px;
	display: block;
}

.page-content form input[type=button]:hover, .page-content form input[type=submit]:hover, .rsform form input[type=submit]:hover, .contact-form form button[type=submit]:hover, .logout form button[type=submit]:hover, .login form button[type=submit]:hover {
	background-color: rgba(0,176,202,0.5);
}

footer {
	text-align: center;
}

footer p, footer a {
	font-weight: 500;
	color: #444444;
}


/* PORTAALIKOHTAISET TYYLIT MODUULEISSA!!!!*/
/* Perussivu */
.basic-style {
	background-color: #333333;
}

.basic-style .intro p {
	color: #aaaaaa;
}

.basic-style .main-nav ul li a:hover, .basic-style .main-nav ul li a.active {
	color: #00B0CA;
}

.basic-style .portal-block-1 .title-part {
	background-color: #00B0CA;
}

.basic-style .portal-block-1 .text-part h2 {
	color: #00B0CA;
}

.basic-style .portal-block-2 .title-part  {
	background-color: #91BA1D;
}

.basic-style .portal-block-2 .text-part h2 {
	color: #91BA1D;
}

.basic-style .portal-block-3 .title-part  {
	background-color: #FE5000;
}

.basic-style .portal-block-3 .text-part h2 {
	color: #F07800;
}
/* Ole */


.ole-style {
	background-color: #00B0CA;
}

.ole-style .main-nav .active a,
.ole-style .main-nav ul li a:hover,
.ole-style .main-nav ul li a.active,
.ole-style .rs_events_container span {
	color: #00B0CA;
}

.ole-style .title-part, .ole-style .customtitle-part {
	background-color: rgba(0,176,202, 0.9);
}


.ole-style .portal-block-1 .title-part,.ole-style .portal-block-1 .customtitle-part {
	width: 94.5%;
	border: 1px solid #ffffff;
	min-height: 0;
	line-height: normal;
}

.ole-style .portal-block-1 .title-part h3, .ole-style .portal-block-1 .customtitle-part h3 {
	font-size: 28px;
	font-weight: 300;
	color: #ffffff;
	margin: 0;
}

.ole-style .portal-block-1 .text-part h2, .ole-style .componentheading, .info-style .componentheading {
	color: #00B0CA;
}

.ole-style .portal-block-2 .title-part, .ole-style .portal-block-2 .customtitle-part  {
	width: 94.5%;
	border: 1px solid #444444;
	min-height: 0;
	line-height: normal;
}

.ole-style .portal-block-2 .title-part h3, .ole-style .portal-block-2 .customtitle-part h3 {
	font-size: 28px;
	font-weight: 300;
	color: #444444;
	margin: 0;
}

.ole-style .portal-block-2 .text-part h2 {
	color: #00B0CA;
}

.ole-style .portal-block-3 .title-part, .ole-style .portal-block-3 .customtitle-part  {
	width: 94.5%;
	border: 1px solid #444444;
	min-height: 0;
	line-height: normal;
}

.ole-style .portal-block-3 .title-part h3, .ole-style .portal-block-3 .customtitle-part h3 {
	font-size: 28px;
	font-weight: 300;
	color: #444444;
	margin: 0;
}

.ole-style .portal-block-3 .title-part span, .ole-style .portal-block-3 .customtitle-part span {
	margin: 0 0 0 10px;
}

.ole-style .portal-block-3 .text-part h2 {
	color: #00B0CA;
}

.ole-style .cal-month-name p, .ole-style .cal-month-row .cal-month-next p, .ole-style .cal-month-row .cal-month-prev p, .ole-style .cal-table-row th span, .ole-style .cal-table-row td span, .ole-style .cal-table-row td a  {
	color: #007E91;
}

.ole-style .cal-day-number a:hover {
	color: #ffffff;
}

.ole-style .cal-day-number.cal-current-day a {
	background-color: #ffffff;
	border-color: #ffffff;
}

.ole-style .cal-day-number.cal-current-day a:hover {
	color: #777777;
}

.ole-style .cal-day-number.cal-active-day a {
	border-color: #ffffff;
}

.ole-style .cal-day-number span, .ole-style .cal-day-number a {
	border-color: #007E91;
}

/*.ole-style .page-content input[type=button] {
	background-color: #00B0CA;
}*/

/* MyCashFlow */
.mcf-style {
	background-color: #91BC1D;
}

.mcf-style .main-nav .active a,
.mcf-style .main-nav ul li a:hover, .mcf-style .main-nav ul li a.active {
	color: #91BC1D;
}

.mcf-style .title-part, .mcf-style .customtitle-part {
	background-color: rgba(145,188,29, 0.9);
}

.mcf-style .portal-block-1 .title-part, .mcf-style .portal-block-1 .customtitle-part {
	width: 94.5%;
	border: 1px solid #ffffff;
	min-height: 0;
	line-height: normal;
}

.mcf-style .portal-block-1 .title-part h3, .mcf-style .portal-block-1 .customtitle-part h3 {
	font-size: 28px;
	font-weight: 300;
	color: #ffffff;
	margin: 0;
}

.mcf-style .portal-block-1 .text-part h2 {
	color: #91BB1D;
}

.mcf-style .portal-block-2 .title-part, .mcf-style .portal-block-2 .customtitle-part  {
	width: 94.5%;
	border: 1px solid #444444;
	min-height: 0;
	line-height: normal;
}

.mcf-style .portal-block-2 .title-part h3,.mcf-style .portal-block-2 .customtitle-part h3 {
	font-size: 28px;
	font-weight: 300;
	color: #444444;
	margin: 0;
}

.mcf-style .portal-block-2 .text-part h2 {
	color: #91BB1D;
}

.mcf-style .portal-block-3 .title-part, .mcf-style .portal-block-3 .customtitle-part  {
	width: 94.5%;
	border: 1px solid #444444;
	min-height: 0;
	line-height: normal;
}

.mcf-style .portal-block-3 .title-part h3, .mcf-style .portal-block-3 .customtitle-part h3 {
	font-size: 28px;
	font-weight: 300;
	color: #444444;
	margin: 0;
}

.mcf-style .portal-block-3 .title-part span,.mcf-style .portal-block-3 .customtitle-part span {
	margin: 0 0 0 10px;
}

.mcf-style .portal-block-3 .text-part h2 {
	color: #91BB1D;
}

.mcf-style .cal-month-name p, .mcf-style .cal-month-row .cal-month-next p, .mcf-style .cal-month-row .cal-month-prev p, .mcf-style .cal-table-row th span, .mcf-style .cal-table-row td span, .mcf-style .cal-table-row td a  {
	color: #638211;
}

.mcf-style .cal-day-number a:hover {
	color: #ffffff;
}

.mcf-style .cal-day-number.cal-current-day a {
	background-color: #ffffff;
	border-color: #ffffff;
}

.mcf-style .cal-day-number.cal-current-day a:hover {
	color: #777777;
}

.mcf-style .cal-day-number.cal-active-day a {
	border-color: #ffffff;
}

.mcf-style .cal-day-number span, .mcf-style .cal-day-number a {
	border-color: #638211;
}

.mcf-style .page-content a, .mcf-style .rs_events_container span {
	color: #91BC1D;
}

.mcf-style .page-content h3 {
	color: #91BC1D;
}

/*.mcf-style .page-content input[type=button] {
	background-color: #91BC1D;
}*/

/* NetBaron */
.netbaron-style {
	background-color: #FF5001;
}

.netbaron-style .main-nav .active a,
.netbaron-style .main-nav ul li a:hover, .netbaron-style .main-nav ul li a.active, .netbaron-style .rs_events_container span {
	color: #FE5000;
}

.netbaron-style .title-part, .netbaron-style .customtitle-part {
	background-color: rgba(240,120,0, 0.9);
}

.netbaron-style .portal-block-1 .title-part, .netbaron-style .portal-block-1 .customtitle-part {
	width: 94.5%;
	border: 1px solid #ffffff;
	min-height: 0;
	line-height: normal;
}

.netbaron-style .portal-block-1 .title-part h3, .netbaron-style .portal-block-1 .customtitle-part h3 {
	font-size: 28px;
	font-weight: 300;
	color: #ffffff;
	margin: 0;
}

.netbaron-style .portal-block-1 .text-part h2 {
	color: #FE5000;
}

.netbaron-style .portal-block-2 .title-part, .netbaron-style .portal-block-2 .customtitle-part  {
	width: 94.5%;
	border: 1px solid #444444;
	min-height: 0;
	line-height: normal;
}

.netbaron-style .portal-block-2 .title-part h3, .netbaron-style .portal-block-2 .customtitle-part h3 {
	font-size: 28px;
	font-weight: 300;
	color: #444444;
	margin: 0;
}

.netbaron-style .portal-block-2 .text-part h2 {
	color: #FE5000;
}

.netbaron-style .portal-block-3 .title-part, .netbaron-style .portal-block-3 .customtitle-part   {
	width: 94.5%;
	border: 1px solid #444444;
	min-height: 0;
	line-height: normal;
}

.netbaron-style .portal-block-3 .title-part h3, .netbaron-style .portal-block-3 .customtitle-part h3 {
	font-size: 28px;
	font-weight: 300;
	color: #444444;
	margin: 0;
}

.netbaron-style .portal-block-3 .title-part span, .netbaron-style .portal-block-3 .customtitle-part span {
	margin: 0 0 0 10px;
}

.netbaron-style .portal-block-3 .text-part h2 {
	color: #FE5000;
}

.netbaron-style .cal-month-name p, .netbaron-style .cal-month-row .cal-month-next p, .netbaron-style .cal-month-row .cal-month-prev p, .netbaron-style .cal-table-row th span, .netbaron-style .cal-table-row td span, .netbaron-style .cal-table-row td a  {
	color: #AE5700;
}

.netbaron-style .cal-day-number a:hover {
	color: #ffffff;
}

.netbaron-style .cal-day-number.cal-current-day a {
	background-color: #ffffff;
	border-color: #ffffff;
}

.netbaron-style .cal-day-number.cal-current-day a:hover {
	color: #777777;
}

.netbaron-style .cal-day-number.cal-active-day a {
	border-color: #ffffff;
}

.netbaron-style .cal-day-number span, .netbaron-style .cal-day-number a {
	border-color: #AE5700;
}

.netbaron-style .page-content a {
	color: #F07800;
}

.netbaron-style .page-content h3 {
	color: #F07800;
}



/*.netbaron-style .page-content input[type=button] {
	background-color: #FE5000;
} */

/* Info-style */
.info-style .portal-block .title-part, .info-style .portal-block .customtitle-part {
	position: relative;
}



/* Skaalaukset */
@media screen and (max-width: 900px) {
	.portal-block .text-part h2 {
		font-size: 19px;
	}

	.portal-block .text-part p {
		font-size: 19px;
	}

	.calendar-block {
		width: 39%;
	}

	.month-block {
		width: 55%;
	}
}

@media screen and (max-width: 800px) {

	.portal-block {
		width: 100%;
		max-width: none;
		margin: 0 0 10px 0;
	}

   .portal-block:nth-child(3n+2) {
		margin: 0 0 10px 0;
   }

	.calendar-block {
		width: 100%;
		margin: 0 0 15px 0;
	}

	.month-block {
		width: 96%;
		margin: 0;
	}

	.page-content h2 {
		font-size: 35px;
	}

	.page-content .column {
		width: 100%;
		margin: 0 0 15px 0;
	}

	.page-content .left-column {
		margin: 0 0 0 0;
	}
}

@media screen and (max-width: 400px) {

	.month-block {
		width: 90%;
		padding: 5px 5% 15px;
		margin: 0;
	}

	.month-events-row p {
		font-size: 18px;
	}

	.page-content h2 {
		font-size: 30px;
	}

	.page-content {
		width: 83.4%;
		background-color: #ffffff;
		border-radius: 3px;
		margin: 20px 0 10px 0;
		padding: 0 8%;
	}
}
.rs_calendar_arrows_module {
padding: 0px;
}

.tooltip {
   position: absolute;
   z-index: 1030;
   display: block;
   visibility: visible;
   font-size: 11px;
   line-height: 1.4;
   opacity: 0;
   filter: alpha(opacity=0);
}
.tooltip.in {
   opacity: 0.8;
   filter: alpha(opacity=80);
}
.tooltip.top {
   margin-top: -3px;
   padding: 5px 0;
}
.tooltip.right {
   margin-left: 3px;
   padding: 0 5px;
}
.tooltip.bottom {
   margin-top: 3px;
   padding: 5px 0;
}
.tooltip.left {
   margin-left: -3px;
   padding: 0 5px;
}
.tooltip-inner {
   max-width: 200px;
   padding: 8px;
   color: #fff;
   text-align: center;
   text-decoration: none;
   background-color: #000;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
}
.tooltip-arrow {
   position: absolute;
   width: 0;
   height: 0;
   border-color: transparent;
   border-style: solid;
}
.tooltip.top .tooltip-arrow {
   bottom: 0;
   left: 50%;
   margin-left: -5px;
   border-width: 5px 5px 0;
   border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
   top: 50%;
   left: 0;
   margin-top: -5px;
   border-width: 5px 5px 5px 0;
   border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
   top: 50%;
   right: 0;
   margin-top: -5px;
   border-width: 5px 0 5px 5px;
   border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
   top: 0;
   left: 50%;
   margin-left: -5px;
   border-width: 0 5px 5px;
   border-bottom-color: #000;
}
.tooltip {
   max-width: 400px;
}
.tooltip-inner {
   max-width: none;
   text-align: left;
   text-shadow: none;
}
th .tooltip-inner {
   font-weight: normal;
}
.tooltip.hasimage {
   opacity: 1;
}
.tip-text {
   text-align: left;
}
.formError {
color: #CF4D4D;
font-weight: bold;
font-size: 16px;
}
div.controls {
padding-bottom: 15px;
}

/**
 * Koulutusvalikko
 */
.menukoulutusvalikko, .nav-child {
   list-style: none;
   margin: 0;
   padding: 0;
}

.menukoulutusvalikko:after {
   content: "";
   display: table;
   clear: both;
}

.menukoulutusvalikko > li {
   border: 1px solid #444444;
   border-radius: 3px;
   color: #444444;
   display: block;
   float: left;
   font-size: 28px;
   font-weight: 300;
   margin: 0 1%;
   max-width: 325px;
   position: relative;
   text-align: center;
   width: 31.6%;
}

.menukoulutusvalikko > li > a {
   display: block;
   padding: 10px 2.5%;
}

.menukoulutusvalikko > li.active, .menukoulutusvalikko > li.current {
   border: 1px solid white;
   color: white;
}

.menukoulutusvalikko > li:hover {
   border: 1px solid white;
   text-decoration: none;
}

.menukoulutusvalikko > li a:hover {
   color: white;
   text-decoration: none;
}

.menukoulutusvalikko a {
   color: inherit;
   text-decoration: none;
}

.menukoulutusvalikko > li:first-child {
   margin-left: 0;
}

.menukoulutusvalikko > li:last-child {
   margin-right: 0;
}

/**
 * Pudotusvalikko
 */
.menukoulutusvalikko .nav-child {
   border: 1px solid #444444;
   border-top: none;
   border-radius: 3px;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   display: none;
   left: -1px;
   position: absolute;
   top: 59px;
   width: 100%;
   z-index: 2;
}

.menukoulutusvalikko .nav-child > li {
   font-size: 20px;
   font-weight: 500;
   margin: 7px 0;
   padding: 3px 10px;
   text-align: left;
}

.menukoulutusvalikko .deeper > a:after {
   content: "▼";
   margin-left: 10px;
}

.menukoulutusvalikko > .submenu-active {
   border-bottom: none;
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
   border-color: white;
}

.menukoulutusvalikko > .submenu-active a {
   outline: none;
}

.menukoulutusvalikko > .submenu-active .nav-child {
   border-color: white;
   display: block;
}

.menukoulutusvalikko .submenu-active > a:after {
   content: "▲";
}

/** Väriteemat */
.ole-style .nav-child {
   background: rgba(0,176,202, 0.9);
}

.mcf-style .nav-child {
	background: rgba(145,188,29, 0.9);
}

.netbaron-style .nav-child {
	background: #FE5000;
}

/** Mediaqueryt */
@media screen and (max-width: 800px) {

   .menukoulutusvalikko > li {
      margin: 5px 0;
      max-width: none;
      width: 99%;
   }

}

/**
 * Banneri
 */
.info-style .bannergroup {
margin-top: 18px;
}

.banner {
 background-size: cover;
    background-position: right;
    border-radius: 3px;
    color: inherit;
    display: block;
    font-size: 20px;
    font-weight: 300;
   position: relative;
   min-height: 335px;
}

.banner a {
   color: #333333;
   text-decoration: none;
}

.banner-text {
   position: absolute;
   left: 25px;
   bottom: 25px;
   max-width: 430px;
}

.banner h1, .kouluttajan-nimi h1 {
   color: #3a3a3a;
   font-family: 'Roboto Slab', serif;
   font-size: 30px;
   font-weight: normal;
   line-height: 1.2em;
   margin: 0;
}

.banner p {
   margin: 10px 0 0;
   color: #333333;
}